{% extends "base-bootstrap.html" %}
{% block body %}
<!-- Alumni Section-->
<section class="py-5 bg-white">
  <div class="container">
    <h1 class="mb-4">Alumni</h1>
    <div class="row">
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
              <h4 class="card-title">Team Member</h4>
              <h6 class="card-subtitle mb-2 text-muted">Position</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
