{% extends "base-bootstrap.html" %}
{% block body %}
<!-- Principal Investigator Section-->
<section class="py-5">
  <h1 class="mb-4">Principal Investigator</h1>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xs-6 col-md-5 col-lg-5 col-xl-4 align-self-center">
        <img src="../static/img/people/professor.jpg" class="w-100" alt="professor picture">
      </div>
      <div class="col-xs-6 col-md-7 col-lg-7 col-xl-6">
        <h2 class="mb-4">Hsiu-Yu Yu</h2>
        <p>Assistant Professor</p>
        <p>Department of Chemical Engineering</p>
        <p>National Taiwan University</p>
        <p>ORCID : 0000-0000-0000-0000</p>
        <h3 class="mb-4">Education:</h3>
        <p>B.S. Ch.E., National Taiwan University, Taiwan 2004</p>
        <p>M.S. Ch.E., National Taiwan University, Taiwan 2006</p>
        <p>Ph.D. Ch.E., Cornell University, USA 2012</p>
        <h3 class="mb-4">Experience:</h3>
        <p>Postdoctoral Associate, Cornell University, USA 2012</p>
        <p>Postdoctoral Researcher, University of Pennsylvania, USA 2012-2016</p>
      </div>
    </div>
  </div>
</section>
<hr class="my-3" />
<!-- Graduate Section-->
<section class="py-3 bg-light">
  <div class="container">
    <h2 class="mb-4">Graduate</h2>
    <div class="row">
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
              <h4 class="card-title">Team Member</h4>
              <h6 class="card-subtitle mb-2 text-muted">Position</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Undergraduate Section-->
<section class="py-3 bg-light">
  <div class="container">
    <h2 class="mb-4">Undergraduate</h2>
    <div class="row">
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
              <h4 class="card-title">Team Member</h4>
              <h6 class="card-subtitle mb-2 text-muted">Position</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="https://via.placeholder.com/750x450" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer"><a href="#!">name@example.com</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="my-3" />
{% endblock %}
