{% extends "base-bootstrap.html" %}
{% block body %}
<!-- Principal Investigator Section-->
<section class="py-5">
  <h1 class="mb-4">Principal Investigator</h1>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xs-6 col-md-5 col-lg-5 col-xl-4 align-self-center">
        <img src="../static/img/people/professor.jpg" class="w-100" alt="professor picture">
      </div>
      <div class="col-xs-6 col-md-7 col-lg-7 col-xl-6">
        <h3 class="mb-4">Hsiu-Yu Yu</h3>
        <p>Assistant Professor</p>
        <p>Department of Chemical Engineering</p>
        <p>National Taiwan University</p>
        <p></p>
        <p>ORCID:0000-0000-0000-0000</p>
        <p>Google Scholar:</p>
        <h5 class="mb-4">Education:</h5>
        <p>B.S. Ch.E., National Taiwan University, Taiwan 2004</p>
        <p>M.S. Ch.E., National Taiwan University, Taiwan 2006</p>
        <p>Ph.D. Ch.E., Cornell University, USA 2012</p>
        <h5 class="mb-4">Experience:</h5>
        <p>Postdoctoral Associate, Cornell University, USA 2012</p>
        <p>Postdoctoral Researcher, University of Pennsylvania, USA 2012-2016</p>
      </div>
    </div>
  </div>
</section>
<hr class="my-3" />
<!-- Members Section-->
<section class="py-5 bg-white">
  <div class="container">
    <h2 class="mb-4">Members</h2>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
          <div class="card-body">
            <h4 class="card-title"><a href="#!">Project One</a></h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
          <div class="card-body">
            <h4 class="card-title"><a href="#!">Project One</a></h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
          <div class="card-body">
            <h4 class="card-title"><a href="#!">Project One</a></h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
          <div class="card-body">
            <h4 class="card-title"><a href="#!">Project One</a></h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="my-3" />
<!-- Alumni Section-->
<section class="py-5 bg-light">
  <div class="container">
    <h2 class="mb-4">Alumni</h2>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
          <div class="card-body">
            <h4 class="card-title"><a href="#!">Project One</a></h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
          <div class="card-body">
            <h4 class="card-title"><a href="#!">Project One</a></h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
          <div class="card-body">
            <h4 class="card-title"><a href="#!">Project One</a></h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
          <div class="card-body">
            <h4 class="card-title"><a href="#!">Project One</a></h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="my-3" />
{% endblock %}
