{% extends "base-bootstrap.html" %}
{% block body %}
<section class="py-5">
  <h1 class="mb-4">Contact</h1>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-xs-6 col-md-5 col-lg-5 col-xl-4">
        <!-- Professor -->
        <h2 class="mb-4"> Prof. Hsiu-Yu Yu </h2>
        <span class="">
          <h5>Email:</h5>
          hsiuyuyu@ntu.edu.tw
          <h5>Office Phone:</h5>
          +886-2-3366-3036
          <h5>Fax:</h5>
          +886-2-2362-3040
          <h5>Address:</h5>
          Department of Chemical Engineering,
          National Taiwan University,
          No. 1, Sec. 4, Roosevelt Rd.
          Taipei 10617, TaiwanfR.O.C.)
        </span>
        <hr class="my-3" />
        <!-- Laboratory -->
        <h2 class="mb-4"> Laboratory </h2>
        <span class="">
          <h5>Lab Phone:</h5>
          +886-2-3366-3054
          <h5>Address:</h5>
          College of Engineering R208,
          National Taiwan University,
          No. 1, Sec. 4, Roosevelt Rd.
          Taipei 10617, Taiwan(R.O.C-)
        </span>
        <hr class="my-3" />
      </div>
      <div class="col-xs-6 col-md-7 col-lg-7 col-xl-6 margin-items">
        <!--Google map-->
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.448707441658!2d121.54062761432343!3d25.01884214505443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa25d62fffff%3A0x8de293c92c3654c6!2z5ZyL56uL5Y-w54Gj5aSn5a246YSt5rGf5qiT!5e0!3m2!1szh-TW!2stw!4v1633767766310!5m2!1szh-TW!2stw" 
          width="100%" height="500rem" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy">
        </iframe>
        <!--Google Maps-->
      </div>
  </div>
</section>
{% endblock %}
