{% extends "base-bootstrap.html" %}
{% block body %}
<!-- Publication Section -->
<section class="py-5">
  <h1 class="mb-4">Publication</h1>
  <div class="container">
    <h2 class="mb-4">Journal Articles</h2>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td>n.</td>
            <td>
              Hsiu-Yu Yu*, 
              Zahera Jabeen*, 
              David M. Eckmann, 
              Portonovo S. Ayyaswamy, 
              Ravi Radhakrishnan
            </td>
            <td>
              Microstructure of flow-driven suspension of hardspheres in 
              cylindrical confinement: 
              A dynamical density functional theory and Monte Carlo study
            </td>
            <td>Langmuir</td>
            <td>2017</td>
            <td>33, 11332</td>
          </tr>
          <tr>
            <td>n.</td>
            <td>
              Ravi Radhakrishnan, 
              Hsiu-Yu Yu, 
              David M. Eckmann, 
              Portonovo S. Ayyaswamy
            </td>
            <td>
              Computational models for nanoscale fluid dynamics 
              and transport inspired by nonequilibrium thermodynamics
            </td>
            <td>J. Heat Transfer</td>
            <td>2017</td>
            <td>139, 033001</td>
          </tr>
          <tr>
            <td>n.</td>
            <td>
              Hsiu-Yu Yu, 
              David M. Eckmann, 
              Portonovo S. Ayyaswamy, 
              Ravi Radhakrishnan
            </td>
            <td>
              Effect of wall-mediated hydrodynamic fluctuations on 
              the kinetics of a Brownian nanoparticle
            </td>
            <td>Proc. R. Soc. A</td>
            <td>2016</td>
            <td>472, 20160397</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <h2 class="mb-4">Conference Papers</h2>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td>n.</td>
            <td>
              Guan-Ting Pan, 
              Hsiu-Yu Yu*
            </td>
            <td>
              Self-Consistent Field Theory for Interactions Between Solvent-Free 
              Polymer-Grafted Nanoparticles
            </td>
            <td>Taiwan ChE Annual Meeting</td>
            <td>2017</td>
            <td>Nov. 17-18, Taipei, Taiwan</td>
          </tr>
          <tr>
            <td>n.</td>
            <td>
              Yu-Wen Wu, 
              Hsiu-Yu Yu*
            </td>
            <td>
              CLangevin Dynamics of a Stealth Nanoparticle Close to a Wall
            </td>
            <td>Taiwan ChE Annual Meeting</td>
            <td>2017</td>
            <td>Nov. 17-18, Taipei, Taiwan</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<hr class="my-0" />
{% endblock %}
